<div class="container">
  <div class="row">
    <div class="mt-3 mx-auto">
      <h2>Users</h2>
      <table class="table">
        <thread>

        </thread>
        <tbody>
          <% @end_users.each do |end_user| %>
          <tr>
            <td><%= image_tag end_user.get_profile_image(100,100) %></td>
            <td><%= end_user.name %></td>
            <td><%=link_to "show", end_user_path(end_user.id) %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>