<div class="container">
  <div class="row">
    <%= render'public/end_users/profile', end_user:@end_user %>
    <div class="mt-3 col-md-7 offset-md-1">

      <h2>Recent posts</h2>
      <%= render'post', posts:@posts %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
