.map{
  padding-top: 20px;
  padding-right: 0%;
  display: flex;

  background-position: right;
}


.log_in{
  text-align: center;

}

h2{

  padding-top: 40%;
  color: #FF8C00;
  font-style: italic;
  font-family: cursive;
  font-size: 55px;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper{
  padding-top: 10%;


  gap: 1em;
  width: fit-content;
}

.btn--red{
  background-color: #f08080;
  border-bottom: 5px solid #cd5c5c;
  padding-left: 3em;
  text-align: center;
  padding-right: 3em;

}
btn--red:hover {
  margin-top: 3px;
  color: #fff;
  background: #f08080;
  border-bottom: 2px solid #cd5c5c;
}

.btn--green{
  background-color: #6b8e23;
  border-bottom: 5px solid #556b2f;
  padding-left: 3em;
  text-align: center;
  padding-right: 3em;

}
btn--green:hover {
  margin-top: 3px;
  color: #fff;
  background: #6b8e23;
  border-bottom: 2px solid #556b2f;
}

.btn--gray{
  background-color: #808080;
  border-bottom: 5px solid #696969;
  padding-left: 3em;
  text-align: center;
  padding-right: 3em;

}
btn--gray:hover {
  margin-top: 3px;
  color: #fff;
  background: #808080;
  border-bottom: 2px solid #696969;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}